<nav>
    <a routerLink="/">
        <img class="logo" src="../../../../content/images/ICAM2e.svg">
    </a>
    <div id="menu">
        <a class="sidebar-link" *ngFor="let link of links" [routerLink]="link.path"
            routerLinkActive="active-link selected-yellow">
            <span>
                <i [ngClass]="['fal', link.icon]"></i>
            </span>
            <span>{{ link.txt }}</span>
        </a>
    </div>
    <div id="admin-access">
        <a routerLink="/login">
            <span>
                <i class="fal fa-lock"></i>Aceder
            </span>
        </a>
    </div>
</nav>