<div>
    <h2 id="page-heading">
        <span>Category Trees</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-category-tree" [routerLink]="['/category-tree/new']">
            <i class="fa-plus"></i>
            <span>
            Create a new Category Tree
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="categoryTrees?.length === 0">
        <span>No categoryTrees found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="categoryTrees?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Item Name</span></th>
                    <th scope="col" ><span>Active</span></th>
                    <th scope="col" ><span>Parent</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let categoryTree of categoryTrees ;trackBy: trackId">
                    <td><a [routerLink]="['/category-tree', categoryTree.id, 'view']">{{ categoryTree.id }}</a></td>
                    <td>{{ categoryTree.itemName }}</td>
                    <td>{{ categoryTree.active }}</td>
                    <td>
                        <div *ngIf="categoryTree.parent">
                            <a [routerLink]="['/category-tree', categoryTree.parent?.id, 'view']" >{{ categoryTree.parent?.itemName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/category-tree', categoryTree.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <i class="fa-eye"></i>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/category-tree', categoryTree.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <i class="pencil-alt"></i>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(categoryTree)"
                                    class="btn btn-danger btn-sm">
                                <i class="fa-times"></i>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
