<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="categoryTree">
            <h2><span>Category Tree</span> {{ categoryTree.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Item Name</span></dt>
                <dd>
                    <span>{{ categoryTree.itemName }}</span>
                </dd>
                <dt><span>Active</span></dt>
                <dd>
                    <span>{{ categoryTree.active }}</span>
                </dd>
                <dt><span>Parent</span></dt>
                <dd>
                    <div *ngIf="categoryTree.parent">
                        <a [routerLink]="['/category-tree', categoryTree.parent?.id, 'view']">{{ categoryTree.parent?.itemName }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/category-tree', categoryTree.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
