<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="revision">
            <h2><span>Revision</span> {{ revision.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{ revision.title }}</span>
                </dd>
                <dt><span>Summary</span></dt>
                <dd>
                    <span>{{ revision.summary }}</span>
                </dd>
                <dt><span>Reviewer</span></dt>
                <dd>
                    <span>{{ revision.reviewer }}</span>
                </dd>
                <dt><span>Active</span></dt>
                <dd>
                    <span>{{ revision.active }}</span>
                </dd>
                <dt><span>Keywords</span></dt>
                <dd>
                    <span>{{ revision.keywords }}</span>
                </dd>
                <dt><span>Abs Revision</span></dt>
                <dd>
                    <span>{{ revision.absRevision }}</span>
                </dd>
                <dt><span>Review State</span></dt>
                <dd>
                    <span>{{ revision.reviewState }}</span>
                </dd>
                <dt><span>Return Notes</span></dt>
                <dd>
                    <span>{{ revision.returnNotes }}</span>
                </dd>
                <dt><span>Reviewed By Peer</span></dt>
                <dd>
                    <span>{{ revision.reviewedByPeer }}</span>
                </dd>
                <dt><span>Community Votes</span></dt>
                <dd>
                    <span>{{ revision.communityVotes }}</span>
                </dd>
                <dt><span>Article</span></dt>
                <dd>
                    <div *ngIf="revision.article">
                        <a [routerLink]="['/article', revision.article?.id, 'view']">{{ revision.article?.id }}</a>
                    </div>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <div *ngIf="revision.type">
                        <a [routerLink]="['/article-type', revision.type?.id, 'view']">{{ revision.type?.id }}</a>
                    </div>
                </dd>
                <dt><span>Area</span></dt>
                <dd>
                    <div *ngIf="revision.area">
                        <a [routerLink]="['/category-tree', revision.area?.id, 'view']">{{ revision.area?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/revision', revision.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
