<div>
    <h2 id="page-heading">
        <span>Revisions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-revision" [routerLink]="['/revision/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Revision
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="revisions?.length === 0">
        <span>No revisions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="revisions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="title"><span>Title</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="summary"><span>Summary</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="reviewer"><span>Reviewer</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="active"><span>Active</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="keywords"><span>Keywords</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="absRevision"><span>Abs Revision</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="reviewState"><span>Review State</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="returnNotes"><span>Return Notes</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="reviewedByPeer"><span>Reviewed By Peer</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="communityVotes"><span>Community Votes</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="article.id"><span>Article</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="type.id"><span>Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="area.id"><span>Area</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let revision of revisions ;trackBy: trackId">
                    <td><a [routerLink]="['/revision', revision.id, 'view']">{{ revision.id }}</a></td>
                    <td>{{ revision.title }}</td>
                    <td>{{ revision.summary }}</td>
                    <td>{{ revision.reviewer }}</td>
                    <td>{{ revision.active }}</td>
                    <td>{{ revision.keywords }}</td>
                    <td>{{ revision.absRevision }}</td>
                    <td>{{ revision.reviewState }}</td>
                    <td>{{ revision.returnNotes }}</td>
                    <td>{{ revision.reviewedByPeer }}</td>
                    <td>{{ revision.communityVotes }}</td>
                    <td>
                        <div *ngIf="revision.article">
                            <a [routerLink]="['/article', revision.article?.id, 'view']" >{{ revision.article?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="revision.type">
                            <a [routerLink]="['/article-type', revision.type?.id, 'view']" >{{ revision.type?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="revision.area">
                            <a [routerLink]="['/category-tree', revision.area?.id, 'view']" >{{ revision.area?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/revision', revision.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/revision', revision.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(revision)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="revisions?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
