<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="revision">
            <h2><span>Revision</span> {{ revision.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{ revision.title }}</span>
                </dd>
                <dt><span>Summary</span></dt>
                <dd>
                    <span>{{ revision.summary }}</span>
                </dd>
                <dt><span>Is Peer Reviewed</span></dt>
                <dd>
                    <span>{{ revision.isPeerReviewed }}</span>
                </dd>
                <dt><span>Country</span></dt>
                <dd>
                    <span>{{ revision.country }}</span>
                </dd>
                <dt><span>Keywords</span></dt>
                <dd>
                    <span>{{ revision.keywords }}</span>
                </dd>
                <dt><span>Review Date</span></dt>
                <dd>
                    <span>{{ revision.reviewDate }}</span>
                </dd>
                <dt><span>Review Notes</span></dt>
                <dd>
                    <span>{{ revision.reviewNotes }}</span>
                </dd>
                <dt><span>Author</span></dt>
                <dd>
                    <span>{{ revision.author }}</span>
                </dd>
                <dt><span>Reviewer</span></dt>
                <dd>
                    <span>{{ revision.reviewer }}</span>
                </dd>
                <dt><span>Review State</span></dt>
                <dd>
                    <span>{{ revision.reviewState }}</span>
                </dd>
                <dt><span>Article</span></dt>
                <dd>
                    <div *ngIf="revision.article">
                        <a [routerLink]="['/article', revision.article?.id, 'view']">{{ revision.article?.articleTitle }}</a>
                    </div>
                </dd>
                <dt><span>Ctree</span></dt>
                <dd>
                    <span *ngFor="let ctree of revision.ctrees; let last = last">
                        <a [routerLink]="['/category-tree', ctree?.id, 'view']">{{ ctree.itemName }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span>Atype</span></dt>
                <dd>
                    <div *ngIf="revision.atype">
                        <a [routerLink]="['/article-type', revision.atype?.id, 'view']">{{ revision.atype?.itemName }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/revision', revision.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
