<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="newsletter">
            <h2><span>Newsletter</span> {{ newsletter.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>First Name</span></dt>
                <dd>
                    <span>{{ newsletter.firstName }}</span>
                </dd>
                <dt><span>Last Name</span></dt>
                <dd>
                    <span>{{ newsletter.lastName }}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{ newsletter.email }}</span>
                </dd>
                <dt><span>Registration Date</span></dt>
                <dd>
                    <span>{{ newsletter.registrationDate }}</span>
                </dd>
                <dt><span>Rgpd Auth</span></dt>
                <dd>
                    <span>{{ newsletter.rgpdAuth }}</span>
                </dd>
                <dt><span>Category Tree</span></dt>
                <dd>
                    <span *ngFor="let categoryTree of newsletter.categoryTrees; let last = last">
                        <a [routerLink]="['/category-tree', categoryTree?.id, 'view']">{{ categoryTree.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <i class="arrow-left"></i>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/newsletter', newsletter.id, 'edit']"
                    class="btn btn-primary">
                <i class="pencil-alt"></i>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
