<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-newsletter-heading">Create or edit a Newsletter</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_registrationDate">Registration Date</label>
                    <div class="input-group">
                        <input id="field_registrationDate" type="text" class="form-control" name="registrationDate" ngbDatepicker #registrationDateDp="ngbDatepicker" formControlName="registrationDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="registrationDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_rgpdAuth">Rgpd Auth</label>
                    <input type="checkbox" class="form-control" name="rgpdAuth" id="field_rgpdAuth"
                           formControlName="rgpdAuth"/>
                </div>

                <div class="form-group">
                    <label for="field_categoryTrees">Category Tree</label>
                    <select class="form-control" id="field_categoryTrees" multiple name="categoryTrees" formControlName="categoryTrees">
                        <option [ngValue]="getSelected(editForm.get('categoryTrees')!.value, categoryTreeOption)" *ngFor="let categoryTreeOption of categorytrees; trackBy: trackById">{{ categoryTreeOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
