<div>
    <h2 id="page-heading">
        <span>Content Sources</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-content-source" [routerLink]="['/content-source/new']">
            <i class="fa-plus"></i>
            <span>
            Create a new Content Source
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="contentSources?.length === 0">
        <span>No contentSources found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="contentSources?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Item Name</span></th>
                    <th scope="col" ><span>Active</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contentSource of contentSources ;trackBy: trackId">
                    <td><a [routerLink]="['/content-source', contentSource.id, 'view']">{{ contentSource.id }}</a></td>
                    <td>{{ contentSource.itemName }}</td>
                    <td>{{ contentSource.active }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/content-source', contentSource.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <i class="fa-eye"></i>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/content-source', contentSource.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <i class="pencil-alt"></i>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(contentSource)"
                                    class="btn btn-danger btn-sm">
                                <i class="fa-times"></i>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
