<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="article">
            <h2><span>Article</span> {{ article.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Repo Article Id</span></dt>
                <dd>
                    <span>{{ article.repoArticleId }}</span>
                </dd>
                <dt><span>Repo Date</span></dt>
                <dd>
                    <span>{{ article.repoDate }}</span>
                </dd>
                <dt><span>Repo Keywords</span></dt>
                <dd>
                    <span>{{ article.repoKeywords }}</span>
                </dd>
                <dt><span>Article Date</span></dt>
                <dd>
                    <span>{{ article.articleDate }}</span>
                </dd>
                <dt><span>Article Title</span></dt>
                <dd>
                    <span>{{ article.articleTitle }}</span>
                </dd>
                <dt><span>Article Abstract</span></dt>
                <dd>
                    <span>{{ article.articleAbstract }}</span>
                </dd>
                <dt><span>Article Doi</span></dt>
                <dd>
                    <span>{{ article.articleDoi }}</span>
                </dd>
                <dt><span>Article Journal</span></dt>
                <dd>
                    <span>{{ article.articleJournal }}</span>
                </dd>
                <dt><span>Fetch Date</span></dt>
                <dd>
                    <span>{{ article.fetchDate }}</span>
                </dd>
                <dt><span>Citation</span></dt>
                <dd>
                    <span>{{ article.citation }}</span>
                </dd>
                <dt><span>Review State</span></dt>
                <dd>
                    <span>{{ article.reviewState }}</span>
                </dd>
                <dt><span>Srepo</span></dt>
                <dd>
                    <div *ngIf="article.srepo">
                        <a [routerLink]="['/source-repo', article.srepo?.id, 'view']">{{ article.srepo?.itemName }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/article', article.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
