<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-article-heading">Create or edit a Article</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_repoArticleId">Repo Article Id</label>
                    <input type="number" class="form-control" name="repoArticleId" id="field_repoArticleId"
                           formControlName="repoArticleId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_repoDate">Repo Date</label>
                    <div class="input-group">
                        <input id="field_repoDate" type="text" class="form-control" name="repoDate" ngbDatepicker #repoDateDp="ngbDatepicker" formControlName="repoDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="repoDateDp.toggle()"><i class="calendar-alt"></i></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_repoKeywords">Repo Keywords</label>
                    <textarea class="form-control" name="repoKeywords" id="field_repoKeywords"
                              formControlName="repoKeywords"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_articleDate">Article Date</label>
                    <input type="text" class="form-control" name="articleDate" id="field_articleDate"
                           formControlName="articleDate"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_articleTitle">Article Title</label>
                    <input type="text" class="form-control" name="articleTitle" id="field_articleTitle"
                           formControlName="articleTitle"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_articleAbstract">Article Abstract</label>
                    <textarea class="form-control" name="articleAbstract" id="field_articleAbstract"
                              formControlName="articleAbstract"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_articleLink">Article Link</label>
                    <input type="text" class="form-control" name="articleLink" id="field_articleLink"
                           formControlName="articleLink"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_articleJournal">Article Journal</label>
                    <input type="text" class="form-control" name="articleJournal" id="field_articleJournal"
                           formControlName="articleJournal"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_articleCitation">Article Citation</label>
                    <input type="text" class="form-control" name="articleCitation" id="field_articleCitation"
                           formControlName="articleCitation"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_fetchDate">Fetch Date</label>
                    <div class="input-group">
                        <input id="field_fetchDate" type="text" class="form-control" name="fetchDate" ngbDatepicker #fetchDateDp="ngbDatepicker" formControlName="fetchDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fetchDateDp.toggle()"><i class="calendar-alt"></i></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_srepo">Srepo</label>
                    <select class="form-control" id="field_srepo" name="srepo" formControlName="srepo">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="sourceRepoOption.id === editForm.get('srepo')!.value?.id ? editForm.get('srepo')!.value : sourceRepoOption" *ngFor="let sourceRepoOption of sourcerepos; trackBy: trackById">{{ sourceRepoOption.itemName }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <i class="fa-ban"></i>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <i class="fa-save"></i>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
