<div>
    <h2 id="page-heading">
        <span>Articles</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-article" [routerLink]="['/article/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Article
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="articles?.length === 0">
        <span>No articles found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="articles?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sourceID"><span>Source ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sourceDate"><span>Source Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sourceTitle"><span>Source Title</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sourceAbstract"><span>Source Abstract</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="pubmedDate"><span>Pubmed Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="officialPubDate"><span>Official Pub Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="doi"><span>Doi</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="journal"><span>Journal</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="citation"><span>Citation</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="keywords"><span>Keywords</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="reviewState"><span>Review State</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cntsource.id"><span>Content Source</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let article of articles ;trackBy: trackId">
                    <td><a [routerLink]="['/article', article.id, 'view']">{{ article.id }}</a></td>
                    <td>{{ article.sourceID }}</td>
                    <td>{{ article.sourceDate | date:'mediumDate' }}</td>
                    <td>{{ article.sourceTitle }}</td>
                    <td>{{ article.sourceAbstract }}</td>
                    <td>{{ article.pubmedDate | date:'mediumDate' }}</td>
                    <td>{{ article.officialPubDate | date:'mediumDate' }}</td>
                    <td>{{ article.doi }}</td>
                    <td>{{ article.journal }}</td>
                    <td>{{ article.citation }}</td>
                    <td>{{ article.keywords }}</td>
                    <td>{{ article.reviewState }}</td>
                    <td>
                        <div *ngIf="article.cntsource">
                            <a [routerLink]="['/content-source', article.cntsource?.id, 'view']" >{{ article.cntsource?.itemName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/article', article.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/article', article.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(article)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="articles?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
