<div>
    <h2 id="page-heading">
        <span>Articles</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-article" [routerLink]="['/article/new']">
            <i class="fa-plus"></i>
            <span>
            Create a new Article
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="articles?.length === 0">
        <span>No articles found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="articles?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <i class="fa-sort"></i></th>
                    <th scope="col"  jhiSortBy="repoArticleId"><span>Repo Article Id</span> <i class="fa-sort"></i></th>
                    <th scope="col"  jhiSortBy="repoDate"><span>Repo Date</span> <i class="fa-sort"></i></th>
                    <th scope="col"  jhiSortBy="repoKeywords"><span>Repo Keywords</span> <i class="fa-sort"></i></th>
                    <th scope="col"  jhiSortBy="articleDate"><span>Article Date</span> <i class="fa-sort"></i></th>
                    <th scope="col"  jhiSortBy="articleTitle"><span>Article Title</span> <i class="fa-sort"></i></th>
                    <th scope="col"  jhiSortBy="articleAbstract"><span>Article Abstract</span> <i class="fa-sort"></i></th>
                    <th scope="col"  jhiSortBy="articleDoi"><span>Article Doi</span> <i class="fa-sort"></i></th>
                    <th scope="col"  jhiSortBy="articleJournal"><span>Article Journal</span> <i class="fa-sort"></i></th>
                    <th scope="col"  jhiSortBy="fetchDate"><span>Fetch Date</span> <i class="fa-sort"></i></th>
                    <th scope="col"  jhiSortBy="citation"><span>Citation</span> <i class="fa-sort"></i></th>
                    <th scope="col"  jhiSortBy="reviewState"><span>Review State</span> <i class="fa-sort"></i></th>
                    <th scope="col"  jhiSortBy="srepo.id"><span>Source Repo</span> <i class="fa-sort"></i></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let article of articles ;trackBy: trackId">
                    <td><a [routerLink]="['/article', article.id, 'view']">{{ article.id }}</a></td>
                    <td>{{ article.repoArticleId }}</td>
                    <td>{{ article.repoDate | date:'mediumDate' }}</td>
                    <td>{{ article.repoKeywords }}</td>
                    <td>{{ article.articleDate }}</td>
                    <td>{{ article.articleTitle }}</td>
                    <td>{{ article.articleAbstract }}</td>
                    <td>{{ article.articleDoi }}</td>
                    <td>{{ article.articleJournal }}</td>
                    <td>{{ article.fetchDate | date:'mediumDate' }}</td>
                    <td>{{ article.citation }}</td>
                    <td>{{ article.reviewState }}</td>
                    <td>
                        <div *ngIf="article.srepo">
                            <a [routerLink]="['/source-repo', article.srepo?.id, 'view']" >{{ article.srepo?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/article', article.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <i class="fa-eye"></i>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/article', article.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <i class="pencil-alt"></i>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(article)"
                                    class="btn btn-danger btn-sm">
                                <i class="fa-times"></i>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="articles?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
