<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="article">
            <h2><span>Article</span> {{ article.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Fetched From</span></dt>
                <dd>
                    <span>{{ article.fetchedFrom }}</span>
                </dd>
                <dt><span>Source ID</span></dt>
                <dd>
                    <span>{{ article.sourceID }}</span>
                </dd>
                <dt><span>Source Date</span></dt>
                <dd>
                    <span>{{ article.sourceDate }}</span>
                </dd>
                <dt><span>Source Title</span></dt>
                <dd>
                    <span>{{ article.sourceTitle }}</span>
                </dd>
                <dt><span>Source Abstract</span></dt>
                <dd>
                    <span>{{ article.sourceAbstract }}</span>
                </dd>
                <dt><span>Import Date</span></dt>
                <dd>
                    <span>{{ article.importDate }}</span>
                </dd>
                <dt><span>Outbound Link</span></dt>
                <dd>
                    <span>{{ article.outboundLink }}</span>
                </dd>
                <dt><span>Keywords</span></dt>
                <dd>
                    <span>{{ article.keywords }}</span>
                </dd>
                <dt><span>Review State</span></dt>
                <dd>
                    <span>{{ article.reviewState }}</span>
                </dd>
                <dt><span>Pub Name</span></dt>
                <dd>
                    <div *ngIf="article.pubName">
                        <a [routerLink]="['/publication-source', article.pubName?.id, 'view']">{{ article.pubName?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/article', article.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
