<div>
  <div id="navbar">
    <div id="divLogo">
      <img id="icamLogo" src="../../../../content/images/virus-amarelo.png" />
    </div>
    <div id="icamTitle">
      ICAM BackOffice
    </div>
    <div id="logout" (click)="logout()">
      <a href="/backoffice/articles">artigos</a>
      <!-- LocalStorage token é removida 🤷‍♂️ se navega por aqui-->
      <a href="/backoffice/revisions">revisões</a>
      <a>
        <span>
          <i class="fal fa-sign-out-alt"></i>
        </span>
        <span class="logout-text">
          Logout
        </span>
      </a>
    </div>
  </div>
</div>
