<div class="section-heading">
	<h1>Sobre o ICAM</h1>
</div>
<div class="section-content">
	<round-card paddingTop="30px" paddingRight="30px" paddingBottom="30px" paddingLeft="30px">
		<p>
			O projeto ICAM nasce da colaboração voluntária e desinteressada entre estudantes do mestrado integrado em
			Medicina
			da Universidade do Algarve, médicos especialistas em diferentes áreas da saúde e cientistas de várias
			instituições
			portuguesas, designadamente investigadores seniores em Biomedicina do BioISI (Faculdade de Ciências da
			ULisboa).
		</p>
		<p>
			O
			que motivou esta colaboração foi a necessidade sentida pelos médicos do Algarve de serem informados de forma
			cientificamente rigorosa, atual e constante sobre o agente patogénico SARS-CoV2 e a doença por si provocada,
			covid-19. A partilha de conhecimento científico é fundamental para o bom desempenho dos profissionais de
			saúde
			no
			combate à pandemia, considerando as zonas de sombra que ainda subsistem relativamente ao novo coronavírus, à
			forma
			de conter a sua propagação e aos meios terapêuticos mais eficazes para debelar a covid-19.
		</p>
		<p>
			Respondendo ao apelo dos
			médicos do Algarve para serem permanentemente atualizados com dados científicos sobre a crise pandémica,
			pretende-se
			realizar uma apurada pesquisa bibliográfica de artigos e sites cientificamente credíveis que estejam
			relacionados
			com o tema.
		</p>
		<p>
			Após seleção dos tópicos de interesse, a informação recolhida será sistematizada e disponibilizada em
			Português numa plataforma informática de acesso livre, o que irá permitir um acesso rápido à informação
			relevante e
			atualizada sobre a COVID-19 pelos profissionais de saúde.
		</p>
		<p>
			<span>Isabel Palmeirim, MD, PhD</span>
			<span>Diretora do Mestrado Integrado em Medicina</span>
			<span>Membro do Conselho Executivo do Centro Biomédico do Algarve (ABC)</span>
			<span>Coordenadora do grupo de investigação em Cronobiologia (CBMR)</span>
		</p>
	</round-card>
</div>