<nav>
    <div id="navbar">
       <div id="icamLogo">
        
      </div>
        <div id="icamTitle">
            ICAM BackOffice
        </div>
        <div id="lightText">
            Some light text
        </div>


        <div id="logout">
            <a>
                <span class="spanLogout">
                     <i class="fal fa-sign-out-alt"></i>
                </span>
                <span class="spanLogout">
                    Logout
                </span>

            </a>
         </div>
</div>
</nav>
