<div class="container-fluid">
    <div id="navbar" class="row">
        <!-- <div  class="col-sm-12"> -->

            <div id="divLogo">
                <img id="icamLogo" src="../../../../content/images/virus-amarelo.png">
            </div>

            <div id="icamTitle" class="col-2">
                ICAM BackOffice
            </div>
     <!--        <div id="lightText"  class="col-2">
                Some light text
            </div> -->


            <div  id="logout" class="offset-8 col-1">
                <a>
                    <span class="spanLogout">
                        <i class="fal fa-sign-out-alt"></i>
                    </span>
                    <span class="spanLogout">
                        &nbsp; Logout
                    </span>
                </a>
            </div>
        <!-- </div> -->
    </div>
</div>