@import '../../../../content/scss/global-variables.scss';

#navbar {
  top: 0px;
  left: 0px;
  height: 80px;
  width: 100%;
  background: $navbar-dark-blue 0% 0% padding-box;
  display: inline-block;
}

#icamLogo {
  top: 23px;
  left: 29px;
  width: 33px;
  height: 100%;
  //background: #EBBC51 0% 0% no-repeat padding-box;
  background-image: url('../../../../content/images/virus-amarelo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  //background-position: bottom left;
  background-size: 100%;
  opacity: 1;
  display: inline-block;
  position: absolute;
}

#icamTitle {
  //layout
  top: 23px;
  left: 76px;
  width: 219px;
  height: 34px;

  //UI
  text-align: left;
  font: normal normal normal 28px/34px Roboto;
  letter-spacing: 0px;
  color: $title-golden;
  opacity: 1;
  display: inline-block;
  position: relative;
}

#lightText {
  top: 32px;
  left: 299px;
  width: 102px;
  height: 17px;
  text-align: left;
  font: 14px/17px Roboto;
  letter-spacing: 0px;
  color: $light-text-color;
  opacity: 1;
  display: inline-block;
  position: absolute;
}

#logout {
  top: 26px;
  left: 1757px;
  width: 107px;
  height: 29px;
  opacity: 1;
  color: white;
  position: absolute;
}

.spanLogout {
  color: white !important;
}
