<div class="top-backoffice-bar container-fluid">
    <h1>Adicionar Artigo</h1>
    <div class="top-backoffice-bar-buttons">
        <button
            icam-btn
            btnText="Cancelar"
            [textColor]="styles.darkerBlue"
            btnWidth="160px"
            btnHeight="48px"
            [borderColor]="styles.darkerBlue"
            backgroundColor="white"
            (click)="cancel()"
        >
        </button>
        <button
            icam-btn
            btnText="Salvar"
            textColor="white"
            btnWidth="160px"
            btnHeight="48px"
            [backgroundColor]="styles.darkerBlue"
            (click)="save()"
        >
        </button>
    </div>
</div>
<div>
    <h2>Dados do Artigo</h2>
    <round-card paddingTop="35px" paddingBottom="35px" paddingLeft="35px" paddingRight="35px">
        <div class="container-fluid">
            <form [formGroup]="form" class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6 form-group" control-form-error [control]="controls.link">
                            <label class="control-label" for="id">Link</label>
                            <input id="link" type="text" class="form-control" cals formControlName="link" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="control-label" for="date">Data de publicação</label>
                            <input id="data" type="text" class="form-control" formControlName="date" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label class="control-label" for="journal">Revista | Entidade Publicadora</label>
                            <input id="journal" type="text" class="form-control" formControlName="journal" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label class="control-label" for="title">Título</label>
                            <textarea rows="5" id="title" type="text" class="form-control" formControlName="title" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label class="control-label" for="keywords">Palavras-chave</label>
                            <input id="keywords" type="text" class="form-control" formControlName="keywords" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label class="control-label" for="citation">Referência Bibliográfica</label>
                            <input id="citation" type="text" class="form-control" formControlName="citation" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label class="control-label" for="abstract" >Sinopse</label>
                            <textarea rows="5" id="abstract" type="text" class="form-control" formControlName="abstract" required></textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </round-card>
</div>