@import '../../../content/scss/global-variables.scss';

:host {
  display: block;
}

.cardHeader {
  text-align: left;
  font: 28px/38px Roboto;
  padding: 20px 0 5px 0;
  letter-spacing: 0px;
  color: #151344;
  opacity: 1;
}

.margintb {
  margin-top: 20px;
  margin-bottom: 20px;
}

.articleDetailsColor {
  color: #151344;
}

round-card {
  min-height: 150px;
  margin-top: 20px;
}

#rowH {
  padding: 0 0 10px 0;

  & > span {
    color: #ff0000;
    line-height: 48px;
    float: left;
  }

  & > div {
    width: auto;
    overflow: hidden;
    text-align: end;
  }

  @media only screen and (max-width: 750px) {
    text-align: center;
    padding: 0 0 10px 0;

    span {
      display: block;
      float: none;
    }

    & > div {
      text-align: center;
    }
  }
}

.article-card-body {
  padding: 0;
  height: auto;
  display: flex;

  & > div:first-child {
    height: 100%;
    width: 600px;
    float: left;

    display: flex;
    justify-content: space-evenly;

    @media only screen and (max-width: 750px) {
      padding-top: 10px;
      flex-direction: column;
    }

    & > * {
      color: $dark-blue;
    }

    & span {
      color: $dark-blue;
    }

    & > a {
      color: $title-golden;
    }

    @media only screen and (max-width: 750px) {
      width: 100%;
      height: auto;
      border: none;
    }
  }

  & > div:last-child {
    width: auto;
    overflow: hidden;
    height: 100%;

    @media only screen and (max-width: 750px) {
      padding: 15px 0 0 0;
    }
  }

  @media only screen and (max-width: 750px) {
    float: none;
    flex-direction: column;
  }
}

.cardFooter {
  height: 100%;
}

button {
  min-width: 160px;
}
