<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="articleType">
            <h2><span>Article Type</span> {{ articleType.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Item Name</span></dt>
                <dd>
                    <span>{{ articleType.itemName }}</span>
                </dd>
                <dt><span>Active</span></dt>
                <dd>
                    <span>{{ articleType.active }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <i class="arrow-left"></i>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/article-type', articleType.id, 'edit']"
                    class="btn btn-primary">
                <i class="pencil-alt"></i>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
